@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$background-primary: #F6F6F6;
$btn2-background: #23272A;

@mixin font-primary ($fonts: font) {}

@mixin title-one($fonts-primary: font) {
    color: #FFF;
    font-family: "Luckiest Guy";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin title-last($fonts-primary: font) {
    color: $btn2-background;
    font-family: 'Luckiest Guy', cursive;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin sub-title($sub-title: font) {
    color: #23272A;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

@mixin description-one($description: font) {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin description-two($description-two: font) {
    color: #23272A;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}